body {
    background-color: rgb(37, 133, 133);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
    font: bold 20pt arial;
}
div#msg {
    padding: 10px;
}
div#foto {
    background-color: rgba(255, 255, 0, 0.493);
    width: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    color: rgba(0, 0, 255, 0.842);
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}